services:
  app:
    build:
      context: .
      dockerfile: docker/app.Dockerfile
    env_file: .env
    depends_on:
      - db
      - redis
    expose:
      - "8000"
    volumes:
      - .:/app
      - shared_files:/tmp/motivi_files
    command: >
      bash -lc "poetry run uvicorn app.main:app --host 0.0.0.0 --port 8000"
    restart: unless-stopped
    networks:
      - motivi-network

  db:
    image: pgvector/pgvector:pg16
    environment:
      POSTGRES_DB: motivi
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - motivi-network

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - motivi-network

  nginx-proxy:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
      - '81:81'
    volumes:
      - ./npm_data:/data
      - ./npm_letsencrypt:/etc/letsencrypt
    networks:
      - motivi-network

volumes:
  dbdata:
  shared_files:
  redis_data:
  npm_data:
  npm_letsencrypt:

networks:
  motivi-network:
    driver: bridge